version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: miniflix-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: miniflix-backend
    ports:
      - "5000:5000"
    depends_on:
      - mysql-db

  mysql-db:
    image: mysql:8.0
    container_name: miniflix-db
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: miniflix
    ports:
      - "3306:3306"
    volumes:
      - db:/var/lib/mysql

volumes:
  db:

